# This is an EXAMPLE file showing what a New Relic license key secret looks like
# DO NOT use this directly! Instead, use the kubectl command in secrets/README.md:
#
#   kubectl create secret generic newrelic-license-key \
#     -n monitoring \
#     --from-literal=license-key=YOUR_NEW_RELIC_LICENSE_KEY

apiVersion: v1
kind: Secret
metadata:
  name: newrelic-license-key
  namespace: monitoring
type: Opaque
stringData:
  license-key: "YOUR_NEW_RELIC_LICENSE_KEY_HERE"
